.banner {
  background-image: url(../../../images/background.png); 
  color: white;  
  padding:250px 0px;
	background-size: cover;     
	background-position: center;
}

.banner h1 {
  color: #c34040;
  font-size: 50px;
  font-weight: bolder;
}
.banner h2 {
  color: #ffbcbc;
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.8;
  margin-bottom: 40px;
  font-weight: bolder;
}

